<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some issue occured!</h1>
    <p>We are fixing it. Sorry for that!</p>

<%- include('includes/end.ejs') %>